*,html,body,div,ul,li,p,a,img,ol,table,tr,td{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}
@import url('./paritals/header.css');
@import url('./paritals/left.css');
@import url('./paritals/datepicker.css');
@import url('./paritals/main.css');